@use "map.scss";
@use "padrao.scss";
@use "animations.scss";

@mixin align-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background: radial-gradient(map-get(map.$background, BgGradient)) no-repeat;
    background-size: cover;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid map-get(map.$neutral, HeaderOutline );
    padding: 20px;
    border-radius: 20px;

    #score-box{
        width: 130px;
        height: 100px;
        @include align-center();
        flex-direction: column;
        background-color: white;
        border-radius: 10px;

        h1{
            color: map-get(map.$neutral, DarkText);
            font-size: 3em;
        }

        span{
            color: map-get(map.$neutral, ScoreText);
            font-weight: 500;
            font-size: calc(1em + 2px);
            text-transform: uppercase;
        }
    }
}

#modal-box{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

#modal{
    @include align-center();
    height: 100%;

    &-content{
        width: 340px;
        height: 380px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: white;
        flex-direction: column;
        padding: 20px;

        h1{
            color: map-get(map.$neutral, DarkText );
        }

    }

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    #close-modal{
        @include align-center();
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
}

#button-rules{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 140px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color ease-in 300ms;

    &:hover{
        background-color: white;
        color: map-get(map.$neutral, DarkText );
    }

}

#switch-container{
    @include align-center();
    flex: 1;

    #game-options{
        padding: 10px;
        flex: 1;
        width: 100%;
        background: url('../../src/images/bg-triangle.svg') no-repeat center;


        .option-button{
            background-color: white;
            width: 160px;
            height: 160px;
            @include align-center();
            border-radius: 50%;
            cursor: pointer;
            transition: all ease-in 400ms;


        }

        .paper{
            border: 18px solid map-get(map.$primary, Paper);
            box-shadow: 0 8px 0 hsl(230, 49%, 49%), inset 0px 8px 0 #5252527c;
            &:hover{
                box-shadow: 0 12px 0 hsl(230, 49%, 49%), inset 0px 12px 0 #5252527c;
                transform: scale(1.1);
            }
        }
        .scissors{
            border: 18px solid map-get(map.$primary, Scissors);
            box-shadow: 0 8px 0 hsl(40, 75%, 43%), inset 0px 8px 0 #5252527c;
            &:hover{
                box-shadow: 0 12px 0 hsl(40, 75%, 43%), inset 0px 12px 0 #5252527c;
                transform: scale(1.1);
            }
        }
        .rock{
            border: 18px solid map-get(map.$primary, Rock);
            box-shadow: 0 8px 0 hsl(349, 55%, 42%), inset 0px 8px 0 #5252527c;
            &:hover{
                box-shadow: 0 12px 0 hsl(349, 55%, 42%), inset 0px 12px 0 #5252527c;
                transform: scale(1.1);
            }
        }
    }

    #game-decision-box{
        display: none;
        width: 100%;
    }

    #game-decision{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        position: relative;

        .game-decision-player{
            color: white;
            width: 250px;
            @include align-center();
            flex-direction: column;

            h2{
                margin-bottom: 40px;
            }

            .option{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: rgba(17, 17, 17, 0.2);
            }
        }

        &-result{
            position: absolute;
            display: none;
            color: white;
            text-align: center;
            z-index: 99;

            h1{
                font-size: 3.2em;
                margin-bottom: 20px;
                text-shadow: 3px 3px 1px rgb(24, 24, 24);
            }

            #play-again{
                width: 200px;
                height: 50px;
                border-radius: 10px;
                cursor: pointer;
                font-size: 22px;
                border: 0;
                color:#1d1d1d;
                text-transform: uppercase;
                font-weight: 500;
                transition: all 400ms;

                &:hover{
                    color: rgb(255, 37, 37);
                    box-shadow: 5px 5px 1px rgb(24, 24, 24);
                }
            }
        }
    }
}

.op{
    display: none;
}

.picked-option{
    position: relative;

    .winn{
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        top: calc(50% - 250px);
        animation: winner-aura 1s ease-in;
        right: calc(50% - 250px);
        border: 40px solid #ffffff10;
        @include align-center();
        transform-origin: center;

        .first-aura{
            width: 75%;
            height: 75%;
            border-radius: 50%;
            position: absolute;
            filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
            background-color: #ffffff25;
        }

        .second-aura{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
            background-color: #ffffff2c;
        }
    }
}

#option-selected{
    
    box-shadow: inset 0px 8px 0 #5252527c;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    @include align-center();
    background-color: white;

    &.paper{
        border: 20px solid map-get(map.$primary, Paper);
        box-shadow: 0 12px 0 hsl(230, 49%, 49%), inset 0px 12px 0 #5252527c;
    }
    &.scissors{
        border: 20px solid map-get(map.$primary, Scissors);
        box-shadow: 0 12px 0 hsl(40, 75%, 43%), inset 0px 12px 0 #5252527c;
    }
    &.rock{
        border: 20px solid map-get(map.$primary, Rock);
        box-shadow: 0 12px 0 hsl(349, 55%, 42%), inset 0px 12px 0 #5252527c;
    }
}

@media screen and (max-width: 767px) {
    #container{
        width: 95% !important;

        header{
            img{
                width: 130px !important;
            }
        }
    }

    #game-options{

        .option-button{
            width: 110px !important;
            height: 110px !important;
        }
        .paper{
            border: 13px solid map-get(map.$primary, Paper) !important;
        }
        .scissors{
            border: 13px solid map-get(map.$primary, Scissors) !important;
        }
        .rock{
            border: 13px solid map-get(map.$primary, Rock) !important;
        }
    }

    .game-decision-player h2{
        font-size: 1.1em;
    }

    #option-selected{
        width: 150px;
        height: 150px;
    }

    .option{
        width: 150px !important;
        height: 150px !important;
    }

    #game-decision{
        height: 400px;
    }

    .game-decision-player{
        margin-bottom: 70px;
    }

    #game-decision-result{
        bottom: 20px;
    }
    .winn{
        position: absolute;
        width: 400px !important;
        height: 400px !important;
        top: calc(50% - 200px) !important;
        right: calc(50% - 200px) !important;
    }

    #button-rules{
        left: calc(50% - 70px) !important;
        
    }
}